.cont__us {
    background-color: #FFF5EB;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.6rem;
        padding: 0 25px 0 25px;
    }
}