/*----FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*----Fin FONTS----*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Comfortaa', sans-serif;
}

/* Header Section */

.nav{
    background-color: rgba(178, 184, 163, .5) ;
    position: fixed !important;
    z-index: 1030;
    width: 100%;
    transition: .3s ease-out;
}

.nav:hover{
    background-color: rgba(178, 184, 163, .9);
    transition: .3s ease-in-out;
}
.nav li a{
    font-size: 1.5rem;
}

nav div a img{
    height: 50px;
}

/* Fin Header Section */

/* Main section */

#inicio{
    display: flex;
    flex-direction: row;
    background-image: url(imagenes/fondo-main.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 1;
}

#inicio::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}

.contenedor{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.inicio__cont--h1{
    text-align: center;
    color: whitesmoke;
    margin: 110px 0 0 0;
}

.inicio__cont--h1 h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}

span{
    color: #F4C7AB;
}

/* Fin Main Section */

/*----Separador----*/

.separador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    background-color: #F4C7AB ;
    height: 40px;
    width: 100%;
    margin-top: -40px;
    position: relative;
    opacity: .8;
    z-index: 50;
}
.separador img{
    height: 30px;
}

.separador img:hover{
    transform: scaleX(1.06) scaleY(1.06);
}
/*----Fin separador----*/
