/*----FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*----Fin FONTS----*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
}

/*----Header----*/

.cont__header {
    position: fixed;
    width: 100%;
    background-color: rgba(178, 184, 163, .5);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    transition: .3s ease;
    z-index: 100;
}

.cont__header:hover{
    background-color: rgba(178, 184, 163, .9);
    transition: .3s ease-in-out;
    height: 100px;
}

/*----Logo----*/

.cont__logo {
    display: flex;
    flex-basis: 8%;
    justify-content: center;
    margin-left: 150px;
}

.cont__logo img {
    height: 65px;
}

.cont__logo img:hover{
    transform: scaleX(1.05) scaleY(1.05);
}

/*----Fin logo----*/

/*----Nav----*/

.cont__nav {
    display: flex;
    flex-basis: 92%;
    justify-content: end;
    margin-right: 250px;
}

.cont__nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.cont__nav ul li {
    font-size: 1.7rem;
    padding: 2px 10px 2px 10px;
}

.cont__nav ul li a {
    text-decoration: none;
    color: black;
}

.cont__nav ul li:hover{
transform: scaleX(1.1) scaleY(1.1);
}

.cont__nav ul li a:active{
    color: white;
}

/*----Fin nav----*/

/*----Fin header----*/

/*----Section hero----*/

#hero{
    background-image: url(imagenes/fondo-main.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1;

}

#hero::after{
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 96vh;
    position: absolute;
    opacity: .3;
    z-index: -1;
}

.cont__h1{
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 200px;
    text-transform: uppercase;
}

.cont__h1 h1{
    font-size: 3.5rem;
    padding-top: 10px;
}

.cont__h1 span{
    color: #F4C7AB;
}

/*----fin section hero----*/


/*----Separador----*/

.separador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    background-color: #F4C7AB ;
    height: 40px;
    width: 100%;
    margin-top: -40px;
    position: relative;
    opacity: .9;
    z-index: 50;
}
.separador img{
    height: 30px;
}

.separador img:hover{
    transform: scaleX(1.06) scaleY(1.06);
}
/*----Fin separador----*/

/*----sobre nosotros----*/

.cont__us{
    background-color: #FFF5EB;
    display: flex;
    flex-direction: column;
    height: 70vh;
    
}

.cont__us--title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 70px 0 70px 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.cont__us--info{
    background-color: #B2B8A3;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    height: 60%;
    width: 70%;
    border-radius: 20px;
    box-shadow: 5px 5px 40px #B2B8A3;
}

.cont__us--p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    font-size: 1.7rem;
    gap: 70px;
    
}

.cont__us--p img{
    display: block;
    border-radius: 20px;
    height: 300px;
}

/*----Fin sobre nosotros----*/

/*----footer----*/

.cont__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F4C7AB;
    width: 100%;
    padding: 3px 3px;
    justify-content: space-evenly;
}

.cont__footer img:hover{
    transform: scaleX(1.04) scaleY(1.04);
}

.cont__footer div{
display: flex;
gap: 10px;
}

.cont__footer p{
    font-weight: 600;
    font-size: 1.6rem;
    color: black;
}

.cont__footer img{
    height: 30px;
}


